<ion-header>
  <ion-toolbar>
    <ion-title>Bumblebee Phone List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img src="../../../assets/bumblebee.png"></ion-img>
    <ion-card-content>
      <ion-card-title style="text-align: center">List Phone🐝</ion-card-title>
      <br />
      <p style="text-align: justify">
        Um App que oferece uma maneira revolucinária de gestão do seus números
        telefônico.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
