<ion-header>
  <ion-toolbar color="primary">
    <ion-button slot="end" (click)="novoCliente()">New Contact</ion-button>
    <ion-title>List of Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let cliente of clientes">
      <ion-item-options>
        <ion-item-option color="danger" (click)="remover(cliente.id)"
          >Delete</ion-item-option
        >
        <ion-item-option color="success" (click)="atualizar(cliente)"
          >Edit</ion-item-option
        >
      </ion-item-options>
      <ion-item>
        <ion-label>{{cliente.nome}}</ion-label>
        <ion-label>{{cliente.endereco}}</ion-label>
        {{cliente.telefone}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>
